block vars
doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href="/bootstrap/dist/css/bootstrap.min.css")
  body
    block body
    script(type="text/javascript", src="/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/bootstrap/dist/js/bootstrap.min.js")
